<mat-card class="rank-card">
  <div class="icon">
  </div>
  <div class="name">{{name}}</div>
  <div class="calories">
    <div class="titlecal">{{avgcalories}}Cal</div>
    <section class="calories">
      <mat-progress-bar class="example-margin" [color]="accentColor" [value]="calrate">
      </mat-progress-bar>
    </section>
    <div class="caloriesgoal">{{calrate}}%</div>
  </div>
  <div></div>
  <div class="minutes">
    <div class="titletime">{{avgminutes}}Min</div>
    <section class="time">
      <mat-progress-bar class="example-margin" [value]="minuterate">
      </mat-progress-bar>
    </section>
    <div class="timegoal">{{minuterate}}%</div>
  </div>
</mat-card>
