.date {
  grid-area: date;
}
.container {
  grid-area: container;
}
.task {
  grid-area: task;
  word-wrap: break-word;
}
.todo {
  display: grid;
  grid-template-columns: 175px 100px;
  grid-template-rows: 50px;
  grid-template-areas:
    "date container"
    "task task";
}
