.setting-card {
  width: 600px;
  height: 200px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  vertical-align:middle;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.input-card {
  width: 600px;
  height: 150px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  align-items: center;
  justify-items: center;
  text-align: center;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  opacity: 2;
}
