<mat-card class="setting-card">
  <p><b><font size="5">Goal Setting</font></b></p>
  <mat-slider [displayWith]="calorieLabel" thumbLabel [(ngModel)]=calorie vertical min="1000" max="3000" step="250" tickInterval="250"></mat-slider>
  <mat-slider [displayWith]="minuteLabel" thumbLabel [(ngModel)]=minute vertical min="30" max="360" step="15" tickInterval="15"></mat-slider>
</mat-card>
<mat-card class="input-card">

  <mat-form-field class="calorieInput" appearance="fill">
    <mat-label>calories</mat-label>
    <input matInput type="number" [(ngModel)]=calorie (ngModelChange)="calorieLabel($event)" min="1000" max="3000" step="250" >
  </mat-form-field>
  <mat-form-field class="minuteInput" appearance="fill">
    <mat-label>minutes</mat-label>
    <input matInput type="number" [(ngModel)]=minute (ngModelChange)="minuteLabel($event)" min="30" max="360" step="15" >
  </mat-form-field>
  <button mat-button color="accent" (click)="submit()">Save</button>
</mat-card>
